<%- include('../partials/head') %>

<div class="container">
    <h1 class="signInHeader">Sign in to your account</h1>
    <form action="/auth/sign-in" method="POST" class="auth-form">
        <label>Username:</label>
        <input type="text" name="username" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">Sign In</button>

        <% if (msg) { %>
            <p class="error-msg"><%= msg %></p>
        <% } %>
    </form>
</div>

<%- include('../partials/footer') %>